@import url(https://fonts.googleapis.com/css?family=Signika:300,regular,500,600,700);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Signika", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.4;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--black);
}

h1 {
  font-size: var(--header-one);
  color: var(--primary-color);
  margin-bottom: 1.2rem;
}
h2 {
  font-size: var(--header-two);
}

h2,
h3,
h4 {
  font-weight: 300;
  color: var(--black);
  margin-bottom: 1.6rem;
}



li {
  list-style: none;
}

section {
  margin-bottom: 10rem;
}

input {
  border: none;
}

input:focus {
  outline: none;
  border: none;
}

#main-block {
  position: relative;
}
