// Header Section
.head {
  border: 1px solid #bfbfbf;
  box-shadow: var(--box-shadow);
  padding: 1.5rem 0;
  &__logo {
    display: flex;
    align-items: center;
    width: 10rem;
    height: 6rem;
    cursor: pointer;
  }

  &__nav {
    width: 50%;
    font-weight: 300;
    &--list {
      @include flex-centered;
      align-items: center;
    }
    &--item {
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
    }
  }

  &__cta {
    width: 30%;
    @include flex-centered;

    &--country {
      margin-right: 2.5rem;
      padding: 0 3.3rem;
      border-color: #aaaaaa;
      & option {
        padding: 1rem;
      }
    }
  }
}

// Hero Section

.hero {
  padding-top: 10rem;
  &__right {
    background: url("../app/images/2253648.jpg") no-repeat center center/cover;
  }
}

// Products Section

.products {
  &__trow {
    &--sort {
      padding: 1.7rem 2rem;
    }

    &--nav {
      width: 60%;
      @include flex-centered;

      &-item {
        font-weight: 300;
        position: relative;
        padding: 1.2rem 0;
        &:not(:last-child) {
          margin-right: 2.5rem;
        }
      }
    }
    &--filter {
      cursor: pointer;
      border: var(--border);
      padding: 1.8rem 2rem;
    }
  }

  &__brow {
    margin-top: 7.4rem;
    &--card {
      padding-bottom: 1.6rem;
      border: var(--border);
      box-shadow: var(--box-shadow);
      width: 25.6rem;
      height: 35.5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      position: relative;
      border-radius: 0.5rem;
      text-align: center;
      &::after {
        content: "Best Price";
        position: absolute;
        right: 0.7rem;
        top: 1.2rem;
        width: 8.8rem;
        height: 2.9rem;
        background-color: #2abfb5;
        border-radius: 5rem;
        font-size: 1.4rem;
        color: var(--white);
        display: grid;
        place-items: center;
      }

      & img {
        margin-bottom: 2rem;
      }

      & s {
        margin-bottom: 1.6rem;
      }
    }
  }
}

// News Letter
.newsletter {
  background-color: var(--primary-color);
  padding: 3.5rem 4rem;

  h2 {
    color: var(--white);
  }
  p {
    color: #79abfe;
  }

  &__right {
    flex: 1 1 90%;
    img {
      min-width: 100%;
      min-height: 100%;
      object-fit: contain;
    }
  }
}

// Footer
.footer {
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    img {
      margin-bottom: 0.8rem;
      margin-right: auto;
      object-fit: contain;
    }
  }
  &__nav {
    h4 {
      margin-bottom: 0.8rem;
      font-size: 2rem;
      font-weight: 600;
    }

    &--item {
      margin-bottom: 0.8rem;
    }

    &:last-of-type {
      & .icons {
        display: flex;

        li {
          margin-right: 1rem;
          cursor: pointer;
        }
      }
    }
  }
}
