.container:not(img) {
  width: 85%;
  margin: 0 auto;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  place-items: center;
  gap: 3rem;
}

.flex-newsletter {
  display: flex;
  align-items: center;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 4rem;
}
